# Node modules
node_modules/

# Environment variables
config/config.env
.env

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Build / compiled files
dist/
build/

# Optional: editor-specific files
.vscode/
.idea/

# Temporary files
tmp/
temp/

